# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ado

# Precompiled Headers
*.gch
*.pch
*.sh

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod
*INSTALL

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.dll
*.mui
